nav, .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  
  .dwLogo{
    display: flex;
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: 2rem;
    align-self: center;
    fill: #007bff;
  }

  .nav-links-container {
    display: flex;
    align-items: center;
    margin-right: 3.5rem;
  }
  
  .navWrapper {
    > a {
      text-decoration: none;
      color: #333333;
      font-size: 24px;
      cursor: pointer;
      padding: 5px 8px;
      transition: color 0.3s ease;
      
      &:hover {
        color: #007bff;
      }

      &.active {
        color: #007bff;
        background-color: transparent;
        font-weight: bold;
        border-bottom: 2px solid #007bff;
      }
    }
    
    .contact-button {
      background-color: #007bff;
      color: white;
      padding: 8px 16px;
      border-radius: 4px;
      text-decoration: none;
      font-size: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      
      &:hover {
        background-color: #0056b3;
      }
      
      &.active {
        background-color: #0056b3;
        color: white; 
      }
    }
    
    margin-left: 1.5rem;
  }
}
