nav, .navbar {
  background-color: #ffffff; // oder welche Farbe die Navbar vorher hatte
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; // Stellt sicher, dass die Navbar über anderen Elementen liegt
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  
  .dwLogo{
    display: flex;
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: 2rem;
    align-self: center;
  }

  .nav-links-container {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }
  
  .navWrapper {
    > a {
      text-decoration: none;
      color: #333333;
      font-size: 24px;

      &.active {
        color: #007bff;
        background-color: transparent;
      }
    }
    
    .contact-button {
      background-color: #007bff;
      color: white;
      padding: 8px 16px;
      border-radius: 4px;
      text-decoration: none;
      font-size: 20px;
      transition: background-color 0.3s ease;
      
      &:hover {
        background-color: #0056b3;
      }
      
      &.active {
        background-color: #0056b3;
        color: white; 
       }
    }
    
    margin-left: 5rem;
  }
}
