<section class="home" [ngClass]="{'dark-home': themeService.isDarkTheme()}">
  <div class="home__content">
    <h1 class="home__title">{{ title }}</h1>
    <p class="home__subtitle">{{ subtitle }}</p>
    <div class="home__description">
      <p>{{ description }}</p>
    </div>
    
    <div class="home__socials">
      @for (social of socialLinks; track social.name) {
        <a [ngClass]="{'dark-home': themeService.isDarkTheme()}" [href]="social.url" target="_blank" class="social-button" [attr.aria-label]="social.name">
          <span class="svg-container" [class]="social.iconName?.toLowerCase() + '-icon'" [innerHTML]="getSvgIcon(social.iconName ?? '')"></span>
          <span class="social-name">{{ social.name }}</span>
        </a>
      }
      
      <div class="dropdown-container">
        <button class="social-button" 
                [ngClass]="{'active': isDownloadDropdownOpen, 'dark-home': themeService.isDarkTheme()}"
                (click)="toggleDownloadDropdown($event)">
          <span class="svg-container download-icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="currentColor">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
            </svg>
          </span>
          <span class="social-name">Lebenslauf</span>
        </button>
        
        <div class="dropdown-menu" [ngClass]="{'show': isDownloadDropdownOpen, 'dark-home': themeService.isDarkTheme()}">
          @for (download of downloadLabels; track download.name) {
            <a [ngClass]="{'dark-home': themeService.isDarkTheme()}" 
               class="dropdown-item" 
               [attr.aria-label]="download.name"
               (click)="downloadFile($event, download)">
              <span class="download-name">{{ download.name }}</span>
            </a>
          }
        </div>
      </div>
    </div>
  </div>
  
  <div class="profileImage-container">
    <img [src]="profileImage" alt="Profilbild" />
  </div>
</section>